{% extends 'blog/base.html' %}

<!-- Page Content -->
{% block content %}

<!-- Contact Details Column -->
<div class="container-fluid">
  <div class="col-12">
     <h3>Contact Details</h3>
     <p>
         Current location:<br>Vancouver, British Columbia<br>Canada<br>
     </p>
     <p>
        I am currently a PhD student at Simon Fraser University, if you wish to contact me just send me an email: <abbr title="Email"></abbr><a href="mailto:robint.white90@gmail.com"><i class="fa fa-envelope-o"></i></a>
     </p>
   </div>
 </div>
 <div class="container">
     <div class="row justify-content-start">
       <div class="col-md-12">
         <div class="col-sm-3">
         <style>.icons { display: inline-block;
                          padding-top: 20px;
                          padding-right: 10px; } </style>
            <a href="https://www.instagram.com/robintwhite/?ref=badge" class="icons" target="_blank"><img src="/static/Images/instagram24.png" alt="Instagram"></a>
            <a href="https://ca.linkedin.com/pub/robin-white/59/257/188" class="icons" target="_blank"><img src="/static/Images/linkedin24.png" alt="LinbkedIn"></a>
            <a href="https://www.researchgate.net/profile/Robin_White10" class="icons" target="_blank"><img src = "/static/Images/researchgateblack24_24.png"></a>
        </div>
    </div>
  </div>
</div>
{% endblock %}
