<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div class ="post">
          {% for post in posts %}
              <a href="{% url 'post_detail' pk=post.pk %}"><h3>{{ post.title }}</h3></a>
              <p>published: {{ post.published_date }}</p>
              <div class ="mybloglist">
                <p>{{ post.text|safe|truncatechars:255 }}</p>
              </div>
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-default btn-sm readmore" role="button">Read on</a>
              <a href="{% url 'category_detail' pk=post.category.pk %}"><p>#{{ post.category.title }}</p></a>
              <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            {% if post.image %}
              <img src='{{ post.image.url }}' class='img-responsive' height="50%" width="50%"/>
            {% endif %}
        <div class="col-xs-12 line"><hr></div>
        {% endfor %}
        </div></div>

        <!-- Side bar Column -->
        <div class="col-sm-2 col-sm-offset-1">
              <div class="sidebar">
                <div class = "icon"><span class="glyphicon glyphicon-tags"></span></div>
            <a href="{% url 'post_detail' pk=latest_post.pk %}"><p>latest</p></a>
            {% for category in categories %}
                <a href="{% url 'category_detail' pk=category.pk %}"><p>#{{ category.title }}</p></a>
            {% endfor %}

            <div class="media">
            <style>.icons {  display: inline-block;
                              float: right;
                             padding-top: 10px;
                             padding-right: 10px; } </style>
               <a href="https://www.instagram.com/robintwhite/?ref=badge" class="icons" title="Instagram" target="_blank"><img src="/static/Images/instagram24.png"></a>
               <a href="https://www.linkedin.com/in/robint-white/" class="icons" title="LinkedIn" target="_blank"><img src="/static/Images/linkedin24.png"></a>
               <a href="https://www.researchgate.net/profile/Robin_White10" class="icons" title="ResearchGate" target="_blank"><img src = "/static/Images/researchgateblack24_24.png"></a>
               <a href="https://github.com/robintwhite" class="icons" title="Github" target="_blank"><img src = "/static/Images/GitHub-Mark-24px.png"></a>
             </div>
           </div>
        </div>
  </div>
</div>
{% endblock %}
