<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3" style="">
        </div>
      <div class="col-sm-6" style="">
          <div class ="post">
          {% for post in posts %}
              <a href="{% url 'post_detail' pk=post.pk %}"><h3>{{ post.title }}</h3></a>
              <p>published: {{ post.published_date }}</p>
              <div class ="mybloglist">
                <p>{{ post.text|safe|linebreaksbr }}</p>
              </div>
              <a href="{% url 'category_detail' pk=post.category.pk %}"><p>#{{ post.category.title }}</p></a>
              <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            {% if post.image %}
              <img src='{{ post.image.url }}' class='img-responsive' height="50%" width="50%"/>
            {% endif %}
        <div class="col-xs-12 line"><hr></div>
        {% endfor %}
        </div></div>

      <div class="col-sm-3">
          <div class="sidebar">
            <a href="{% url 'post_detail' pk=latest_post.pk %}"><p>latest</p></a>
            {% for category in categories %}
              <a href="{% url 'category_detail' pk=category.pk %}"><p>#{{ category.title }}</p></a>
            {% endfor %}
      </div></div>
  </div>
</div>
{% endblock %}
