<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-md-offset-3" style="">
              <div class="post">
              <h1>{{ post.title }}</h1>

              {% if post.published_date %}
                  <div class="date">
                    {{ post.published_date }}
                  </div>
              {% else %}
                  <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
              {% endif %}

                <a href="{% url 'category_detail' pk=category.pk %}"><p>#{{ post.category.title }}</p></a> <!-- change to hyperlink to category detal page listing all posts in category -->
                {{ post.text|safe|linebreaksbr }}
                {% if post.image %}
                  <img src='{{ post.image.url }}' class='img-responsive'/>
                {% endif %}
                {% if post.sourcecode %}
                  {% load highlight_code %}
                    {{ post.sourcecode|formatCode|safe }}
                {% endif %}
              </div>
              </div>

          <div class="col-sm-3">
              <div class="sidebar">
              {% if user.is_authenticated %}
              <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              {% else %}

              {% endif %}
              <a href="{% url 'post_detail' pk=latest_post.pk %}"><p>latest</p></a>
                {% for category in categories %}
                    <a href="{% url 'category_detail' pk=category.pk %}"><p>#{{ category.title }}</p></a>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>

    <div class="col-xs-12"><hr></div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3">
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        {% for comment in post.comments.all %}
          <div class="comment">
              <div class="date">{{ comment.created_date }}</div>
              <strong>{{ comment.author }}</strong>
              <p>{{ comment.text|linebreaksbr }}</p>
          </div>
        {% empty %}
          <p> No comments here yet :( </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <br>
{% endblock %}
