<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}
<div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-3">
              <!--Sidebar content-->
            </div>

            <div class="post">
            <div class="col-md-4">
              <h1>{{ post.title }}</h1>
            </div>

            <div class="col-md-2">
              {% if user.is_authenticated %}
              <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              {% else %}
              <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
              {% endif %}
            </div>
            <div class="col-md-3">
              <!-- filler -->
            </div>
            <div class="row-fluid">
              <div class="col-md-6 col-md-offset-3">
              {% if post.published_date %}
                  <div class="date">
                    {{ post.published_date }}
                  </div>
              {% else %}
                  <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
              {% endif %}
            </div>
            </div>
            <div class="row-fluid">
              <div class="col-md-6 col-md-offset-3">
                {{ post.text|safe|linebreaksbr }}
              {% if post.image %}
                <img src='{{ post.image.url }}' class='img-responsive'/>
              {% endif %}
            </div>
            </div>
          </div>
        </div>
      </div>

    <div class="col-xs-12"><hr></div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3">
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
        {% for comment in post.comments.all %}
          <div class="comment">
              <div class="date">{{ comment.created_date }}</div>
              <strong>{{ comment.author }}</strong>
              <p>{{ comment.text|linebreaksbr }}</p>
          </div>
        {% empty %}
          <p> No comments here yet :( </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <br>
{% endblock %}
