{% extends 'blog/base.html' %}

<!-- Page Content -->
{% block content %}

<!-- Contact Details Column -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <div class="post">
     <ul class="list-group">
         <li>
           <h4>For details concerning current research, please see my profile on <a href="https://www.researchgate.net/profile/Robin_White10" target="_blank">Research Gate</a>.</h4>
         </li>
     </ul>
     <h2>
         Select Publications
     </h2>
     <ul class="list-group">
         <li>- 4D in situ visualization of electrode morphology changes during accelerated degradation in fuel cells by X-ray computed tomography. <a href="https://www.researchgate.net/publication/315550885_4D_in_situ_visualization_of_electrode_morphology_changes_during_accelerated_degradation_in_fuel_cells_by_X-ray_computed_tomography" target="_blank"> <i>Journal of Power Sources</i></a></li>
         <li>- 3D Printed Flow Field and Fixture for Visualization of Water Distribution in Fuel Cells by X-ray Computed Tomography. <a href="https://www.researchgate.net/publication/308274702_3D_Printed_Flow_Field_and_Fixture_for_Visualization_of_Water_Distribution_in_Fuel_Cells_by_X-ray_Computed_Tomography" target="_blank"> <i>Journal of The Electrochemical Society</i></a></li>
         <li>- Effect of Micro-XCT X-ray Exposure on the Performance of Polymer Electrolyte Fuel Cells. <a href="https://www.researchgate.net/publication/306351036_Communication-Effect_of_Micro-XCT_X-ray_Exposure_on_the_Performance_of_Polymer_Electrolyte_Fuel_Cells" target="_blank"> <i>Journal of The Electrochemical Society</i></a></li>
         <li>- X-ray photoelectron spectroscopy of MoO<sub>3</sub> on organic semiconductors using ultra-high vacuum physical vapour deposition. <a href="https://www.researchgate.net/publication/295099548_Interface_Structure_of_MoO3_on_Organic_Semiconductors" target="_blank"> <i>Scientific Reports</i></a></li>
         <li>- Experimental demonstration of the universal energy level alignment rule at oxide/organic semiconductor interfaces. <a href="https://www.researchgate.net/publication/262987699_Experimental_demonstration_of_the_universal_energy_level_alignment_rule_at_oxideorganic_semiconductor_interfaces" target="_blank"> <i>Physical Review B</i></a></li>
         <li>- Assessing the Potential Roles of Silicon and Germanium Phthalocyanines in Planar Heterojunction Organic Photovoltaic Devices. <a href="https://www.researchgate.net/publication/272096718_Assessing_the_Potential_Roles_of_Silicon_and_Germanium_Phthalocyanines_in_Planar_Heterojunction_Organic_Photovoltaic_Devices_and_How_Pentafluoro_Phenoxylation_Can_Enhance_p-p_Interactions_and_Device_P" target="_blank"> <i>ACS Applied Materials &#38; Interfaces</i></a></li>
         <li>- Analyzing locomotion of <i>pseudomonas aeruginosa</i> using motion tracking. <a href="https://www.researchgate.net/publication/258755997_Quantifying_the_Dynamics_of_Bacterial_Crowd_Surfing" target="_blank"><i>American Physical Society</i></a> <a href="https://github.com/robintwhite/Bacteria-tracking" target="_blank"><i>Github</i></a></li>
     </ul>
     <h2>
         Full publication list
     </h2>
    <ul class="list-group">
         <li><a href="https://scholar.google.ca/citations?user=8vz44ZYAAAAJ&hl=en" target = "_blank">Google Scholar</a></li>
    </ul>
     <h2>
         Education
     </h2>
     <ul class="list-group">
         <li>- <b><i>Ph.D.</i></b> - Simon Fraser University - Mechatronic Systems Engineering - 09/2014 - <i>present</i></li>
         <li>- <b><i>M.A.Sc.</i></b> - University of Toronto - Materials Science and Engineering - 09/2012 - 08/2014 - <a href = "https://tspace.library.utoronto.ca/bitstream/1807/67939/1/White_Robin_201411_MAS_thesis.pdf" taregt="_blank"><i>Download Thesis</i></a></li>
         <li>- <b><i>B.Sc.</i>(Hons)</b> - University of Guelph - Nanoscience, Physics(minor) - 09/2008 - 05/2014</li>
     </ul>
 </div>
 </div>
 <!-- Side bar Column -->
 <div class="col-sm-2 col-sm-offset-1">
       <div class="sidebar">
         <div class = "icon"><span class="glyphicon glyphicon-tags"></span></div>
     <a href="{% url 'post_detail' pk=latest_post.pk %}"><p>latest</p></a>
     {% for category in categories %}
         <a href="{% url 'category_detail' pk=category.pk %}"><p>#{{ category.title }}</p></a>
     {% endfor %}

     <div class="media">
     <style>.icons {  display: inline-block;
                       float: right;
                      padding-top: 10px;
                      padding-right: 10px; } </style>
          <a href="https://www.instagram.com/robintwhite/?ref=badge" class="icons" title="Instagram" target="_blank"><img src="/static/Images/instagram24.png"></a>
          <a href="https://ca.linkedin.com/pub/robin-white/59/257/188" class="icons" title="LinkedIn" target="_blank"><img src="/static/Images/linkedin24.png"></a>
          <a href="https://www.researchgate.net/profile/Robin_White10" class="icons" title="ResearchGate" target="_blank"><img src = "/static/Images/researchgateblack24_24.png"></a>
          <a href="https://github.com/robintwhite" class="icons" title="Github" target="_blank"><img src = "/static/Images/GitHub-Mark-24px.png"></a>
      </div>
    </div>
 </div>
 </div>
</div>

{% endblock %}
