/* navbar */
.navbar-inverse,
.nav .navbar-nav .navbar-right{
    background-color: #000000;
    border-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* title */
.navbar-inverse {
    color: #ffffff;
}
.navbar-brand{
    padding-top: 00px;
    color: #ffffff;
    height:auto;
    width:auto;

}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #5E5E5E;
}

.top-menu{
  color: #ffffff;
}

header {
  padding: 10px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}
.tab { margin-left: 20px; }
/*******body***********/

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-position: top center;
  background-size:cover;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;

}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;

}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

body,html {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  height: 100%
}

/*Icons */
.glyphicon.glyphicon-home {
    font-size: 18px;
}
.glyphicon.glyphicon-briefcase {
    font-size: 20px;
}
.glyphicon.glyphicon-file {
    font-size: 18px;
}
.glyphicon.glyphicon-user {
    font-size: 18px;
}
.glyphicon.glyphicon-lock {
    font-size: 18px;
}
/* Index Page Banner*/
.content {
    padding-left: 50px;
    color: #000000;
    height: 100%
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    padding-left, padding-right: 50px;
    margin-bottom: 70px;
    padding-top: 50px;
}

.post h1, h2, h4 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.post h3, a {
  font-family: 'Roboto', sans-serif;
  color: #ff6600;
}

.mybloglist p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-length: 75ch;
  max-height: 18ch;
}

#mybreak p {
  margin-top: 50px;
  padding-left, padding-right: 50px;
  margin-bottom: 20px;
}

.sidebar{
  border-radius: 6px 6px 6px 6px;
  background-color: #f2f2f2;
  text-align: right;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 60px; }

  .icon{
    float: left;
  }

.contact_info{
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
}

.comment{
  margin: 20px 0 20px 20px;
}

ul {
  list-style-type: none;
}
/* Footer Styles */

footer {
    margin: 20px 0;
}
